{% extends "KdvFrontBundle::layout.html.twig" %}
{% block body %}
    <!-- Page title -->
    <div class="page-title-wrapper about-title-wrapper">
        <div class="pattern-dark-wrapper">
            <div class="container">
                <h2 class="page-title page-title-margin"><span class="page-title-main">Contactez nous</span></h2>



            </div>
        </div>
    </div>
    <!-- End Page title -->

    <!-- Begin main content -->		
    <div class="container page-content-wrapper">
        <div class="margin-bottom-40 clearfix">

            <div class="col-sm-6">
                <form>
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-6">
                            <label> Nom : </label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-6">
                            <label> Prénom : </label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                           
                        </div>
                        <div class="col-sm-6 form-group">
                            <button class="btn btn-info">Envoyer</button>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="col-sm-6"></div>


        </div>
        <!-- End row -->
    </div>


    <!-- End main content -->
{% endblock %}
